@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif !important;
}

h1,
h3 {
    font-family: 'Bangers', cursive;
}

.redText {
    color: red;
}

#buttons {
    display: flex;
}

.img {
    max-width: 5%;
    max-height: 5%;
}

img {
    width: 100%;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}